.containerDiv{
    height: 450px;
    padding-right: 8rem;
    padding-left: 8rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    gap: 30px;
}

.header{
    text-align: center;
    width: 100%;
    margin-top:120px;
    font-weight: 800;
}

.table-title{
    padding-bottom: 3rem;
}

#valid-button{
    background-color: rgb(151, 194, 151);
    border-radius: 30px;
}

#invalid-button{
    background-color: rgb(187, 136, 136);
    border-radius: 30px;
}
