<mat-card>
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="center-row">
      <h1><b>{{facilityData?.name}}</b></h1>
      <h2>Owner: {{facilityData?.owner}}</h2>
      <h2>Facility type: {{facilityData?.facilityType}}</h2>
      <h2>Address: {{facilityData?.address}}</h2>
    </div>
  
    <div class="row">
      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Tenants</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let tenant of facilityData?.tenantsEmails">
            <mat-icon>person</mat-icon>
            <label>{{ tenant }}</label>
        </div>
      </mat-expansion-panel>
  
      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Devices</mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let deviceDTO of facilityData?.deviceDTOs; let i = index">
            <label>{{deviceDTO.id}} - </label>
            <label><b>{{ deviceDTO.deviceType }}</b></label>
        </div>
      </mat-expansion-panel>
    </div>

    <form [formGroup]="form" class="form-center">
      <mat-form-field class="date-picker-div">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" formControlName="startDate">
          <input matEndDate placeholder="End date" formControlName="endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    
      <div class="button-container">
        <button mat-raised-button color="primary" class="report-button" [disabled]="!form.valid" (click)="onGenerateReport()">
          Generate report
        </button>
      </div>
    </form>
    
    <div class="row">
      <div class="table-container">
      <table mat-table [dataSource]="dataSource" >
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let deviceMessage">{{ deviceMessage.message }}</td>
        </ng-container>
  
        <ng-container matColumnDef="messageType">
          <th mat-header-cell *matHeaderCellDef>Message Type</th>
          <td mat-cell *matCellDef="let deviceMessage">
            <button id="info-button" *ngIf="deviceMessage.messageType === 'INFO'" mat-raised-button disabled>{{deviceMessage.messageType}}</button>
            <button id="warning-button" *ngIf="deviceMessage.messageType === 'WARNING'" mat-raised-button disabled>{{deviceMessage.messageType}}</button>
            <button id="error-button" *ngIf="deviceMessage.messageType === 'ERROR'" mat-raised-button disabled>{{deviceMessage.messageType}}</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let deviceMessage">{{ deviceMessage.formattedTimestamp }}</td>
        </ng-container>

        <ng-container matColumnDef="deviceStatus">
            <th mat-header-cell *matHeaderCellDef>Device Status</th>
            <td mat-cell *matCellDef="let deviceMessage">{{ deviceMessage.deviceStatus }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
    </div>
  </div>
  </mat-card>
  